* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0A0C1C;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  width: 327px;
  height: 780px;
  background: #1B1937;
  -webkit-box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
          box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
  border-radius: 8px;
}

@media (min-width: 900px) {
  section {
    width: 1110px;
    height: 446px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

section .img-container {
  position: relative;
  background-image: url("../images/image-header-mobile.jpg");
  background-size: cover;
  width: 100%;
  height: 240px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

@media (min-width: 900px) {
  section .img-container {
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 540px;
    height: 100%;
    background-image: url("../images/image-header-desktop.jpg");
  }
}

section .img-container .layer {
  position: absolute;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #AB5CDB;
  opacity: 0.30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 900px) {
  section .img-container .layer {
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 540px;
    height: 100%;
  }
}

section .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 540px;
}

@media (min-width: 900px) {
  section .info-container {
    height: 446px;
    width: 570px;
  }
}

section .info-container h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: white;
  width: 264px;
}

@media (min-width: 900px) {
  section .info-container h3 {
    width: 403px;
    font-size: 36px;
    line-height: 44px;
    margin-top: 70px;
  }
}

section .info-container h3 span {
  color: #AB5CDB;
}

section .info-container .info-txt {
  width: 264px;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: white;
  opacity: 0.75;
}

@media (min-width: 900px) {
  section .info-container .info-txt {
    width: 374px;
    font-size: 15px;
    margin-top: 25px;
  }
}

section .info-container .numbers-section {
  height: 226px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 900px) {
  section .info-container .numbers-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 72px;
    width: 351px;
  }
}

section .info-container .numbers-section .numbers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .info-container .numbers-section .numbers-container .number {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  opacity: 1;
}

section .info-container .numbers-section .numbers-container .subnumber {
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}
/*# sourceMappingURL=style.css.map */